
OPENAI_API_KEY=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

DATABASE_URL=dburl
# Auth Configuration
JWT_SECRET=buqdDx+qiQnaBUUFHLWJN5Hi9s6AUXia5mUsnQvG37w=
JWT_REFRESH_SECRET=WcDBwp6zzSOgsY0bj3vyekvFFp/S3APwwvgWdbFWc2I=
SUPER_ADMIN_SECRET=NUVANA_SECRET
JWT_ACCESS_TOKEN_EXPIRATION=15m
JWT_REFRESH_TOKEN_EXPIRATION=7d
# Supabase Configuration
SUPABASE_URL=https://borazruaystegxynvckt.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJvcmF6cnVheXN0ZWd4eW52Y2t0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ2MDM5MDcsImV4cCI6MjA4MDE3OTkwN30.DzSe8OgH0YkhsH-oW1G5RIVsTnJMygBULzwkaQDvyM8
SUPABASE_FILES_BUCKET=FILES_BUCKET
SUPABASE_VOICE_NOTES_BUCKET=FILES_BUCKET
# GCP / Vertex AI Configuration
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
GCP_PROJECT_ID=your-project-id-here
GCP_LOCATION=us-central1
REDIS_URL=redis://default:CtW088JI57qAgzOzhqjwsEpHg1pkXPko@redis-13922.c256.us-east-1-2.ec2.cloud.redislabs.com:13922
FRONTEND_URL=https://nuvana360server.onrender.com